@import 'tailwindcss';
@import './font.css';

@layer base {
  html {
    scrollbar-width: none;
  }

  body {
    font-family: 'JetBrains Mono', 'D2Coding ligature', monospace;
  }

  .root {
    isolation: isolate;
  }
}
